body{
    text-align: center;
}

.by2block{
    width: 60vw;
    margin: 3em;
    margin-left:20vw;
}

.by2block span{
    display: inline-block;
    width: 25vw;
    margin: 0.5em;
    margin-left: 2vw;
    margin-right: 2vw;
}

.by2block span input{
    width: 25vw;
}


.grow-wrap {
  display: grid;
  width: 80vw;
  margin-bottom: 3em;
  margin-left: 10vw;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

#Attachements{
    padding: 1em;
}

input[type="range"]{
    cursor:grab;
    width: 30vw;
}

button{
    padding: 1em;
    /*To add more styling*/
}