
body {
    font-family: "Clash Grotesk", sans-serif;
    background-color: rgb(68, 163, 68);
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

/* ========================================== HEADER ========================================== */

header{
    background-color: #A27035;
    position: sticky;
    top:-30vh;
    z-index: 100;
    height: 40%;
}

header:hover{
    top:0px !important;
}

.navspan{
    padding: 10px;
    min-width: 10%;
    display: inline-block;
}

.navspan ul{
    display: none;
    position: absolute;
    background-color: aqua;
    margin: 5px;
}

.navspan:hover ul{
    display: block;
    z-index: 10;
}

#nav{
    justify-content: space-evenly;
    flex-flow: row wrap;
    display: flex;
}

#logo {
    height: 70px;
}

#Title {
    text-align: center;
    justify-self: center;
    font-size: larger;
}

/* ========================================== FOOTER ========================================== */

footer{
    padding: 20px;
    margin: 30px;
    background-color: color-mix(in srgb, darkorange 30%,springgreen 50%);
    text-align: center;
}

footer nav {
    margin: 5px;
    width: 50%;
    justify-content: space-between;
    display: inline-flex;
    flex-flow: row;
}

footer span{
    float: left;
}

.divide{
    display: inline-flex;
    justify-content: space-evenly;
}

.divide .footpart{
    width: 50%;    
}