html{
    max-width: 100%;
}

body {
    font-family: "Clash Grotesk", sans-serif;
    background-color: rgb(68, 163, 68);
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-titles {
    text-align: center;
}

.main-description {
    text-align: center;
    padding-left: 50px;
}

/* ========================================== HEADER ========================================== */

header{
    position: sticky;
    top:-30vh;
    z-index: 100;
    height: 40%;
    width: 100%;
}
header nav {
    background-color: rgb(45, 100, 45);
}

header nav .navspan ul li a{
    display: block;
    width: 100%;
}

header .shadow {
    height: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

header:hover{
    top:0px !important;
}

.navspan{
    padding: 10px;
    min-width: 10%;
    display: inline-block;
}

.navspan ul{
    display: none;
    position: absolute;
    background-color: rgb(117, 170, 214);
    border-style: solid;
    border-color: rgb(27, 71, 109);
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    line-height: 30px;
    text-align: center;
}

.navspan ul a li {
    padding-left: 20px;
    padding-right: 20px;
}
.navspan ul a li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navspan:hover ul{
    display: block;
    z-index: 10;
}

.navspan h2 a, .navspan h2 a:visited, .navspan h2 a:focus, .navspan ul a, .navspan ul a:visited, .navspan ul a:focus {
    text-decoration: none;
}
.navspan h2 a, .navspan h2 a:visited, .navspan h2 a:focus {
    color: rgb(214, 217, 214);
}
.navspan ul a, .navspan ul a:visited, .navspan ul a:focus {
    color: black;
}

#nav{
    justify-content: space-evenly;
    flex-flow: row wrap;
    display: flex;
}

#logo {
    height: 70px;
}

#Title {
    text-align: center;
    justify-self: center;
    font-size: larger;
}

/* ========================================== FOOTER ========================================== */

footer{
    padding: 20px;
    margin: 30px;
    background-color: color-mix(in srgb, darkorange 30%,springgreen 50%);
    text-align: center;
}

footer nav {
    margin: 5px;
    width: 50%;
    justify-content: space-between;
    display: inline-flex;
    flex-flow: row;
}

footer span{
    float: left;
}

.divide{
    display: inline-flex;
    justify-content: space-evenly;
}

.divide .footpart{
    width: 50%;    
}